.DS_Store
/**/build
/**/DerivedData
/**/.scannerwork
/*.xcodeproj/xcuserdata
/*.xcodeproj/project.xcworkspace/xcuserdata/
**/*.xcodeproj/project.xcworkspace/xcuserdata
**/*.xcodeproj/project.xcworkspace/xcuserdata/
**/*.xcodeproj/xcuserdata
**/*.xcodeproj/xcuserdata/*
**/*.xcodeproj/project.xcworkspace
**/*.xcodeproj/project.xcworkspace/xcshareddata
/**/*.xcodeproj/project.xcworkspace/xcuserdata
/**/*.xcodeproj/project.xcworkspace/xcuserdata/
/*.xcworkspace
/.scannerwork
/.swiftpm/xcode/package.xcworkspace/xcuserdata
/.swiftpm/xcode/xcuserdata
